.message {
  display: flex;
  background-color: yellow;
  max-width: 600px;
  padding: 10px;
  &__box {
    background-color: #c2c0c0;
    width: 100%;
    position: relative;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    &::before {
      content: "";
      position: absolute;
      left: -24px;
      bottom: 0;

      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-right: 25px solid #c2c0c0;
    }
  }
  &__title {
    font-size: 20px;
    padding: 5px 10px;
  }
  &__image {
    align-self: flex-end;
    margin-right: 30px;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
  &__text {
    font-size: 18px;
    color: #000;
    padding: 0px 10px 35px 10px;
    position: relative;
    span {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 25px;
    }
  }
}
