.hw2 {
  &__container {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 20px;
    max-width: fit-content;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__btn {
    cursor: pointer;
    background-image: linear-gradient(to right, #141e30, #243b55);
    font-size: 18px;
    padding: 5px;
    min-width: 60px;
    color: #fff;
    border-radius: 5px;
    &:hover {
      opacity: 0.8;
    }
  }
  &__btn + &__btn {
    margin-left: 10px;
  }
  &__list {
    min-height: 150px;
    height: 100%;
  }
  &__item {
    margin-bottom: 10px;
  }
  &__item_title {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
  }
  &__item_btn {
    border-radius: 5px;
    background-image: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
  }
}
